@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

:root {
  --lightblue: #119da4;
  --dark: #202020;
  --lightgreen: #02c39a;
  --purple: #531cb3;
  --lightgray: #e0dede;

  --menu-bar: 65px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: var(--dark);
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  color: white;
}

h2 {
  font-size: 24px;
  margin: 0;
  font-weight: 200;
}

p {
  color: var(--lightgray);
  font-weight: 300;
}

button {
  background: var(--purple);
  border: 0;
  border-radius: 16px;
  padding: 8px 35px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.title-blue {
  color: var(--lightblue);
  font-size: 44px;
  margin: 0;
  line-height: 2.5rem;
  font-weight: 300;
}

.title-green {
  color: var(--lightgreen);
  font-size: 44px;
  margin: 0;
  line-height: 2.5rem;
  font-weight: 300;
}

header {
  height: calc(100vh - var(--menu-bar));
  display: flex;
  align-items: center;
}

header .container {
  width: 60%;
  padding: 0 100px;
  height: fit-content;
}

header .container button {
  margin-top: 2rem;
}

header .container .img {
  display: none;
}

nav {
  height: var(--menu-bar);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;

  padding: 0 100px;
  background: var(--dark);
}

nav .menu-bar {
  width: 70%;
}

nav .menu-bar ul {
  display: flex;
  justify-content: space-around;
}

nav .menu-bar ul a {
  font-size: 18px;
  color: var(--lightblue);
  text-decoration: none;
}

nav .menu-bar ul a svg {
  display: none;
}

.img img {
  height: 55px;
}

.about-me {
  display: flex;
  padding: 100px;
}

.about-me .img-container {
  width: 50%;
  text-align: center;
  margin: auto;
}

.about-me .img-container img {
  width: 50%;
}

.about-me .container {
  width: 50%;
  padding-right: 50px;
  margin: auto;
}

@media (max-width: 1000px) {
  header .container {
    width: 100%;
  }

  nav .menu-bar {
    width: 100%;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 0 30px;
  }
  nav .img {
    display: none;
  }

  header .container .img {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  header .container {
    padding: 0 30px;
  }
  nav .menu-bar ul {
    padding: 0;
  }
  nav .menu-bar ul a {
    font-size: 85%;
  }
}

@media (max-width: 428px) {
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 90%;
  }
  header .container button {
    margin-top: 1rem;
  }

  nav {
    position: fixed;
    bottom: 0;
    top: unset;
    width: 100%;
    padding: 0 15px;
  }

  nav .menu-bar ul a {
    font-size: 10px;
  }

  nav .menu-bar ul a svg {
    display: block;
    margin: 0 auto 0.5rem;
  }
}
